/* body {
  padding: 0.5rem;
  background-color: darkslategray;
}

body *:not(:last-of-type) {
  margin-bottom: 1rem;
}

.toggle {
  height: 1rem;
  background-color: red;
  white-space: nowrap;
  padding: 1rem;
}

.toggle.on {
  background-color: blue;
}

.container {
  display: flex;
  white-space: nowrap;
  align-items: center;
  color: white;
} */

a:hover {
  color: blue !important;
}

.cursor-pointer {
  cursor: pointer;
}
